body{
	overflow-x: hidden;
	font-family: 'Quicksand';
}
.banner{
	min-height: 679px;
	background: url(img/jpg/Koala.jpg);
	background-size: cover;
	background-position: center;
}

.banner .inijudul{
	color: white;
	margin-top: 430px;
	position: relative;
	/*margin-left: 600px;*/
	font-size: 800%;
	text-align: center;
}
.tombolnat{
	height: 50px;
	width: 230px;
	border-radius: 30px;
	background-color: #172029;
	text-align: center;
	line-height: 50px;
	color: white;
	margin: 0 auto;
	font-family: 'Quicksand';
	/*font-weight: bold;*/
	/*font-size: 17px;*/
	transition: .2s;
}
.tombolnat:hover{
	transform: scale(.9);
}

.abouts{
	min-height: 100px;
	line-height: 100px;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Quicksand';
	background-color: #49cad5;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.conbouts{
	min-height: 300px;
	background-color: #49cad5;
}

.conbouts p{
	width: 60%;
	margin: 0 auto;
	color: white;
	text-align: center;
}

.boxnat{
	width: 70%;
	margin: 30px auto;
	background-color: white;
	min-height: 300px;
	border-radius: 2px;
}

.boxnat i{
	font-size: 20px;
	/*color: red;*/
	color: #1abc9c;
	margin-top: 30px;
}

.boxnat p{
	color: #1abc9c;
	font-size: 30px;
	font-family: 'Quicksand';
}

.skl{
	min-height: 662px;
	/*background-color: #5af6e5;*/
	color: #49cad5;
	margin-top: 20px;
	font-family: 'Quicksand';
}

.ids{
	color: #49cad5;
	float: left;
	width: 200px;
	/*background-color:red;*/
	margin-right: 20px;
	font-size: 200%;
}
.boxnya{
	height: 80px;
	display: block;
	margin-left: 50px;
	margin-bottom: 40px;
}
.skled{
	height: 40px;
	width: 400px;
	border-radius: 30px;
	float: left;
	background-color: #49cad5;
}

.inskill{
	/*width: 70%;*/
	margin-top: 2px;
	margin-left: 2px;
	border-radius: 30px;
	background-color: white;
	height: 36px;
}
.cont{
	min-height: 500px;
}

.huw{
	min-height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	color: white;
	background-color: #49cad5;
}

.cont{
	height: 500px;
	background: url(img/jpg/home-office-599475_1920.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #49cad5;
}

.cont p{
	color: white;
	text-align: center;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: bold;
}

.pds{
	padding-top: 50px;
	/*padding-left: 500px;*/
}

input{
	display: block;
	width: 400px;
	height: 50px;
	border:none;
	box-sizing: border-box;
	padding-left: 20px;
}
.ues{
	margin-top: 10px;
	margin-left: 120px;
}	

textarea{
	width: 400px;
	padding-left: 20px;
	box-sizing: border-box;
}

.asd{
	margin-bottom: 10px;
	margin-left: 120px;
	margin-top: 10px;
	border: none;
}

iframe{
	height: 490px;
	margin-top: 5px;
	width: 600px;
	/*margin-left: -40px;*/
}

footer{
	height: 50px;
	background-color: #49cad5;
	text-align: center;
	line-height: 50px;
	color: white;
}
.s1{
	width: 90%;
}
.s2{
	width: 70%;
}
.s3{
	width: 90%;
}
.s4{
	width: 30%;
}
.s5{
	width: 60%;
}
.s6{
	width: 30%;
}
.s7{
	width: 70%;
}
.s8{
	width: 70%;
}
.s9{
	width: 80%;
}
.s10{
	width: 90%;
}
