* {
	margin: 0;
	padding: 0;
	font-family: sans-serif; 
}
a{
	color: #fff;
}
header{
	max-width: 100%;
	height: 50px;
	background-color: #333;
	color: #fff;
	line-height: 50px;
	padding-left: 4%;
}
header ul li{
	width: 10%;
	height: 50px;
	float: left;
	list-style: none;
}
section{
	width: 100%;
	min-height: 400px;
	background-color: #f9f9f9;
}
.box-login{
	width: 30%;
	height: 300px;
	background-color: #666;
	margin: 5% auto;
	padding-left: 2%;
}
.box-login form input[type=text],
.box-login form input[type=password] {
	width: 90%;
	height: 30px;
	margin: 1% 0;
	padding-left: 1%;
}
footer{
	width: 100%;
	height: 50px;
	background-color: #666;
	color: #fff;
	line-height: 50px;
	text-align: center;
}