*:focus {outline:0;}
body {font-size:13px;line-height:1;color:#4c4c4c;font-family: 'latoregular';min-height:100%;position:relative;background:#fffefb;}
a {color:#4c4c4c;text-decoration:none;position:relative;cursor:pointer !important;}
a:hover {color:#b08203;}
a:focus, input:focus{outline:0}
.list-inline,.list-unstyled{list-style:none;padding:0;}
.list-inline>li{float:left;padding:0}
.list-inline-b>li{display:inline-block;padding:0}
.tbl{display:table;height:100%;}
.cell{display:table-cell;vertical-align:middle;}
.container{width:100%;max-width:1020px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}
.form-control{display:block;width:100%;height:40px;padding:10.5px 12px;font-size:12px;line-height:1;letter-spacing:1px;color:#000;background-color:#fff;background-image:none;border:1px solid #eee;position:relative;-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;border-radius:5px}
.form-control.error{border-color:#fff95d;background:#fffdf0 url(images/error.png) no-repeat 97% 50%;padding-right:35px}
.form-control:focus{border-color:#fa7ce0;outline:0;background:#fff;padding-right:12px}
.form-control::-moz-placeholder{color:#cacaca;opacity:1;padding-top:3px;filter:alpha(opacity=100);}
.form-control:-ms-input-placeholder{color:#cacaca;padding-top:3px}
.form-control::-webkit-input-placeholder{color:#cacaca;padding-top:3px}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee;opacity:1;filter:alpha(opacity=100);}
textarea.form-control{height:90px;resize:none;line-height:1.8}
.green {color:#6b7e16;}
.gold {color:#d4a216;}
.line-pattern {background:url('images/line-pattern.jpg') repeat-x;width:100%;height:5px;}

.icon-fb {width:11px;height:31px;background:url('/css/images/icon-facebook.png') no-repeat;transition: all 0.3s ease;}
.icon-fb:hover {background-position:0 -31px;}
.icon-twitter {width:24px;height:31px;background:url('/css/images/icon-twitter.png') no-repeat;transition: all 0.3s ease;}
.icon-twitter:hover {background-position:0 -31px;}
.icon-youtube {width:26px;height:31px;background:url('/css/images/icon-youtube.png') no-repeat;transition: all 0.3s ease;}
.icon-youtube:hover {background-position:0 -31px;}
.icon-rss {width:26px;height:31px;background:url('/css/images/icon-rss.png') no-repeat;transition: all 0.3s ease;}
.icon-rss:hover {background-position:0 -31px;}
.icon-in {width:26px;height:27px;background:url('/css/images/icon-in.png') no-repeat;transition: all 0.3s ease;}
.icon-in:hover {background-position:0 -31px;}
.icon-email {width:20px;height:31px;background:url('/css/images/icon-email.png') no-repeat;transition: all 0.3s ease;}
.icon-email:hover {background-position:0 -31px;}

/* header {background:#fffefb url('/css/images/Dayak.png') repeat 0 0;} */
/* header {background:#fffefb url('/css/images/Bengkulu.png') repeat 0 0;} */
/* header {background:#fffefb url('/css/images/Papua.png') repeat 0 0;} */
/* header {background:#fffefb url('/css/images/Aceh.png') repeat 0 0;} */
header {background:#fffefb url('/css/images/Kawung.png') repeat 0 0;}

/* .bg404 {background:#fffefb url('/css/images/Dayak.png') repeat 0 0;} */
/* .bg404 {background:#fffefb url('/css/images/Bengkulu.png') repeat 0 0;} */
/* .bg404 {background:#fffefb url('/css/images/Papua.png') repeat 0 0;} */
/* .bg404 {background:#fffefb url('/css/images/Aceh.png') repeat 0 0;} */
.bg404 {background:#fffefb url('/css/images/Kawung.png') repeat 0 0;}

/* .div-top-bar {position:fixed;top:0;width:100%;z-index:3;background:#fffefb url('/css/images/Dayak.png') repeat 0 0;letter-spacing:1px;} */
/* .div-top-bar {position:fixed;top:0;width:100%;z-index:3;background:#fffefb url('/css/images/Bengkulu.png') repeat 0 0;letter-spacing:1px;} */
/* .div-top-bar {position:fixed;top:0;width:100%;z-index:3;background:#fffefb url('/css/images/Papua.png') repeat 0 0;letter-spacing:1px;} */
/* .div-top-bar {position:fixed;top:0;width:100%;z-index:3;background:#fffefb url('/css/images/Aceh.png') repeat 0 0;letter-spacing:1px;} */
.div-top-bar {position:fixed;top:0;width:100%;z-index:3;background:#fffefb url('/css/images/Kawung.png') repeat 0 0;letter-spacing:1px;}

.top-bar,
.top-search {padding:10px 0;border-bottom:1px solid #ebebeb;}
.top-search {display:none;padding:14.5px 0 14.5px 30px;position:relative;}
.tb-list {height:24px;margin-left:20px;}
.tb-list a {line-height:27px;}
.tb-list a:hover {color:#d19b04;}
.tb-list:first-child {margin-left:0;}
.tb-list .icon {margin-right:5px;}
.tb-layanan-informasi-publik .icon {width:14px;height:14px;background:url('images/icon-layanan-informasi-publik.png') no-repeat ;}
.tb-menu .icon {width:14px;height:12px;background:url('/css/images/icon-menu.png') no-repeat ;}
.tb-lpse .icon {width:14px;height:14px;background:url('/css/images/icon-lpse.png') no-repeat ;}
.tb-webmail .icon {width:15px;height:16px;background:url('/css/images/icon-webmail.png') no-repeat ;}
.tb-contact .icon {width:16px;height:16px;background:url('/css/images/icon-phone-small.png') no-repeat ;}
.tb-pencarian .icon {width:15px;height:15px;background:url('/css/images/icon-pencarian.png') no-repeat ;cursor:pointer;}
.tb-pengkajian .icon {width:13px;height:16px;background:url('/css/images/icon-pengkajian.png') no-repeat ;}
.tb-tv-parlemen .icon {width:19px;height:15px;background:url('/css/images/icon-tv-parlemen.png') no-repeat ;}
.tb-portal .icon {width:13px;height:16px;background:url('/css/images/icon-portal.png') no-repeat ;}
.tb-perpustakaan .icon {width:13px;height:16px;background:url('/css/images/icon-perpustakaan.png') no-repeat ;}
.tb-language {margin-left:4px;font-size:11px;line-height:1;border:1px solid #dcd2cc;background:#f2efea;border-radius:4px;outline:none;}
.tb-language.active {background:#d4a216;border-color:#d4a216;color:white;}
.tb-language.indonesia{padding:5px;}
.tb-language.english{padding:5px 3px;margin-left:15px;}
.formSearch button.tb-pencarian {width:15px;height:15px;background:url('/css/images/icon-pencarian.png') no-repeat ;position:absolute;left:5px;top:0;top: 50%;margin-top: -7.5px;border:none;}
.formSearch input {width:100%;border:none;background:transparent;}
.search-resp {padding:15px 0;border-bottom:1px solid #d19b04;display:none;}
.search-resp .formSearch {position:relative;}
.search-resp .formSearch input {padding-left:30px;padding-right: 65px;}

.header-2 {padding-top:76px;background:url('images/Gradient.png') no-repeat center;letter-spacing:1px;height:185px;}
.header-2 .phone {font-family: 'roboto_condensedbold';font-size:16px;line-height:1;}
.header-2 .title {font-family: 'roboto_condensedbold';font-size:12px;line-height:1;}
.header-2 .logo-title {height:92px;}
.h2-sms, .h2-info {height:114px;}
.h2-info {}
.h2-sms .icon {width:32px;height:36px;background:url('/css/images/icon-sms.png') no-repeat ;margin-right:10px;}
.h2-sms-aspirasi .icon {width:17px;height:16px;background:url('/css/images/sms.png') no-repeat ;margin-right:11px;}
.h2-sms-aspirasi a:hover {color:#d19b04;}
.h2-pengaduan-masyarakat .icon {width:18px;height:16px;background:url('/css/images/icon-pengaduan-masyarakat.png') no-repeat ;margin-right:10px;}
.h2-pengaduan-masyarakat a:hover {color:#d19b04;}
/* .h2-layanan-informasi-publik .icon {width:14px;height:14px;background:url('/css/images/icon-layanan-informasi-publik.png') no-repeat ;margin-right:14px;}
.h2-layanan-informasi-publik a:hover {color:#d19b04;} */

.flag {position:absolute;width:260px;height:85px;top:3.5px;right:10px;background:url('images/flag.png') no-repeat 0 0;padding:18px;}
.flag .title {font-family:'latoblack';font-size:14px;letter-spacing:0.5px;color:#fff;float:left;}
.flag .find {float:right;width:16px;height:16px;background:url('/css/images/find_.png') no-repeat 0 0;}
.flag-search {position:relative;}
.flag-search input {background:#fff;height:25px;border-radius:3px;border:1px solid #ebebeb;padding-left:10px;padding-right:60px;}

.header-3 {background:#7d726c;}
ul.h3-menu {margin:0;padding:0;}
ul.h3-menu > li {height:48px;position:relative;}
ul.h3-menu > li > a {font-family: 'latobold';font-size:14px;color:white;line-height:16px;padding:16px 21px;display: inline-block; -webkit-transition:all .5s;transition:all .5s}
/* ul.h3-menu > li > a:hover, ul.h3-menu > li.active > a {background:#d4a216 url('/css/images/menu-bg-dayak.jpg') repeat;} */
/* ul.h3-menu > li > a:hover, ul.h3-menu > li.active > a {background:#d4a216 url('/css/images/menu-bg-bengkulu.jpg') repeat;} */
/* ul.h3-menu > li > a:hover, ul.h3-menu > li.active > a {background:#d4a216 url('/css/images/menu-bg-aceh.png') repeat;} */
/* ul.h3-menu > li > a:hover, ul.h3-menu > li.active > a {background:#d4a216 url('/css/images/menu-bg-papua.png') repeat;} */
ul.h3-menu > li > a:hover, ul.h3-menu > li.active > a {background:#d4a216 url('/css/images/menu-bg-kawung.png') repeat;}

ul.h3-menu > li:hover > .list-submenu {display:block;}
.list-submenu {background:rgba(255,255,255,0.9);position:absolute;z-index:10;font-size:14px;font-family:'Latobold';line-height:1.5;padding:25px;width:290px;top:100%;left:0;text-transform:uppercase;display:none;}
.list-submenu li {margin-bottom:10px;}
.list-submenu li:last-child {margin-bottom:0;}
.list-submenu.list-submenu-right {right:0;left:initial;text-align:right;}

h1 {font-family: 'latoblack';font-size:20px;color:#4d4d4d;letter-spacing:0.5px;line-height:30px;}

.header-resp {padding:15px 0;border-bottom:1px solid #d19b04;background:url('/css/images/Gradient.png') no-repeat center;}
.header-resp .tbl {height:80px;}
.header-resp .logo a {display:inline-block;}
.header-resp .logo img {height:80px;width:auto;}
.header-resp .tb-menu, 
.header-resp .tb-pencarian {margin-left:20px;} 

.main-content {min-height:500px;padding-bottom:60px}
.main-content .banner img{margin:0 auto;}
.banner .banner-widget{margin:34px 0;}
.banner-highlight-news {padding:13.5px 0;background:rgba(255,255,255,0.75);color:#2b2b2b;font-family:'latobold';letter-spacing:1px;line-height:1;}
.pengumuman {color:#e2000e;font-family: 'montserratregular';font-weight:bold;margin-right:15px;line-height:1;}

.bw-pengumuman, .bw-slider {background:rgba(255,255,255,0.2);border-radius:5px;padding:10px;box-shadow:0 0 1px #d19b04;}
.bw-pengumuman-content {background:#faf8f3;border:2px solid #d19b04;padding:50px;font-family: 'latoregular';font-size:14px;line-height:21px;height:504px;overflow:auto;}
.bw-pengumuman-content a {color:black;}
.bw-pengumuman-content a:hover {color:#d4a216;}
.bw-pengumuman-content strong {font-family: 'latobold';}

.bw-slider-item-detail {background:#faf8f3;font-family: 'latoregular';font-size:14px;line-height:21px;margin-bottom:17px;}
.bw-slider-image-content {max-height:164px;}
.bw-slider-desc {padding:15px 20px;}
.bw-slider-desc .name {font-family: 'latobold';font-size:18px;line-height:1.25;}
.bw-slider-desc .icon {padding-right:10px;}
.bw-slider-desc .bw-slider-partai {font-family: 'latobold';font-size:14px;line-height:20px;color:#f18519;}
.bw-slider-desc .bw-slider-about {line-height:2;}

.bw-slider .owl-controls .owl-dots {text-align:center;}
.bw-slider .owl-controls .owl-dots .owl-dot {width:8px;height:8px;border-radius:50%;background:#a1a1a1;display:inline-block;margin:0 5px;}
.bw-slider .owl-controls .owl-dots .owl-dot.active {background:#d09c2a;}

.body-content .group-title {font-family: 'latoblack';font-size:14px;color:#e2000e;letter-spacing:0.5px;margin-bottom:20px;}
#thumbs {font-size:0;margin-top:1px;}
#thumbs a {display:inline-block;width:calc(100%/5);margin:0;padding:0;opacity:0.5;filter:alpha(opacity=50);}
#thumbs a.active {opacity:1;filter:alpha(opacity=100);}
.slider-news-active-caption {margin-top:25px;}
.slider-news-active-caption a {font-family: 'latoblack';font-size:32px;color:black;line-height:1.25;}
.slider-news-active-caption a:hover {color:#d4a216;}
.slider-news-active-content {line-height:2;font-size:16px;}
.bl-title {font-family: 'latobold';font-size:16px;line-height:1.25;color:black;border-left:3px solid #7a7114;padding-left:10px;}
a .bl-title:hover {color:#d4a216;}
.bl-date {font-family: 'latobold';font-size:14px;line-height:1.25;padding-left:13px;}
.bl-content {line-height:1.75;padding-left:13px;}

.video .video-main-title {font-family: 'latobold';font-size:16px;line-height:1.25;color:black;}
.video .video-title {font-family: 'latobold';font-size:14px;line-height:1.25;color:black;}
.video .video-title:hover,
.video .video-title:hover {color:#d19b04;}

#html5-lightbox-overlay {background:rgba(255,255,255,0.95) !important;opacity:1 !important;filter:alpha(opacity=100)!important;}
#html5-elem-box, #html5-elem-wrap {box-shadow:none !important;background:transparent !important;}
#html5-close {position:fixed !important;margin-top:15px !important;margin-right:15px !important;}
#html5-close .html5-custom-close {background:url('/css/images/popup-video-close-btn.png') no-repeat;width:37px;height:35px;top:15px;right:15px;}
#html5-close .html5-custom-close:hover {background-position:0 -35px;}
.list-video .lv-featured, .other-video .ov-image {position:relative;}

.lv-control {background:rgba(255,255,255,0.75);width:50px;height:50px;position:absolute;bottom:0;left:0;}
.lv-play-button {width: 0;height: 0;border-style: solid;border-width: 11px 0 11px 16px;border-color: transparent transparent transparent #d68d04;position: absolute;left: 50%;top: 50%;margin-top: -11px;margin-left: -8px;}
.lv-content {line-height:1.75;}

.other-video a {display:inline-block;font-size:0;width:100%;}
.ov-image {width:25%;}
.ov-title {width:70%;height:54px;margin-left:5%;}
.ov-control {background:rgba(255,255,255,0.75);width:25px;height:25px;position:absolute;bottom:0;left:0;}
.ov-play-button {width: 0;height: 0;border-style: solid;border-width: 5.5px 0 5.5px 8px;border-color: transparent transparent transparent #d68d04;position: absolute;left: 50%;top: 50%;margin-top: -5px;margin-left: -3px;}

.html5lightbox:hover .video-main-title {color:#d19b04 !important;}
.html5lightbox:hover .lv-content {color:#4c4c4c !important;}
.html5lightbox:hover .video-title {color:#d19b04 !important;}

#kalendar {max-width:100%;}
#kalendar .fc-toolbar {margin-bottom:0;background:#faf8f3;padding:10px 0;border-bottom:1px solid #e1ddd8;-webkit-box-shadow: 0px 2px 4px -1px rgba(225,221,216,1);-moz-box-shadow: 0px 2px 4px -1px rgba(225,221,216,1);box-shadow: 0px 2px 4px -1px rgba(225,221,216,1);position:relative;z-index:2;}
#kalendar .fc-toolbar h2 {margin-top:8px;color:#7d726c;font-family: 'latoblack';font-size:14px;letter-spacing:0.5px;text-transform: uppercase;}
.fc-button-group, .fc button {border:none;box-shadow:none;background:transparent;outline:none;}
#kalendar th, #kalendar td, #kalendar hr, #kalendar thead, #kalendar tbody, #kalendar .fc-row {border-color:#faf8f3 !important;background:#faf8f3 !important;}
#kalendar td.fc-widget-header {padding:20px 10px 15px 10px;color:#4c4c4c;font-family: 'latobold';opacity:0.5;text-transform: uppercase;filter:alpha(opacity=50);}
#kalendar td.fc-widget-content {padding:0 10px 5px 10px;border-bottom:1px solid #eeeeed !important;}
.fc-ltr .fc-basic-view .fc-day-number {text-align:center;}
.detail-kalendar {padding:15px 0;background:#faf8f3;}
.detail-kalendar ul {margin:0;padding:0;font-family: 'latobold';font-size:12px;color:#7d726c;line-height:2;}
.detail-kalendar ul li .dot-hijau {width:10px;height:10px;background:#6b7e16;border-radius:50%;margin: 7px 10px 0 10px;}
.detail-kalendar ul li .dot-merah {width:10px;height:10px;background:#e2000e;border-radius:50%;margin: 7px 10px 0 10px;}
.detail-kalendar ul li .dot-kuning {width:10px;height:10px;background:#d29c08;border-radius:50%;margin: 7px 10px 0 10px;}
/* tambahan sendiri */
.detail-kalendar ul li .dot-biru {width:10px;height:10px;background:#4488cc;border-radius:50%;margin: 7px 10px 0 10px;}
.fc-day-number.fc-other-month {opacity: 0.3;filter: alpha(opacity=30);}
#kalendar td.fc-day-number {font-size:12px;font-family: 'latobold';position: relative;z-index: 3;background: transparent !important;/* top:6px; */}
#kalendar .fc-row.fc-widget-header {border-bottom: 1px solid #cccccc !important;padding-bottom: 15px;}
.fc-event {border:none;}
.fc button .fc-icon {top:0.15em;}
.fc-icon-left-single-arrow:after {width:12px;height:10px;background:url(/css/images/arrow-cal-left.png) no-repeat;content:'';position:absolute;left:0;}
.fc-icon-right-single-arrow:after {width:12px;height:10px;background:url(/css/images/arrow-cal-right.png) no-repeat;content:'';position:absolute;right:0;}

.agenda-toolbar {background:#faf8f2;padding:10px 0;border-top:1px solid #f6f4ef;border-bottom:1px solid #e8e4df;font-size:0;-webkit-box-shadow: 0px 2px 4px -1px rgba(225,221,216,1);-moz-box-shadow: 0px 2px 4px -1px rgba(225,221,216,1);box-shadow: 0px 2px 4px -1px rgba(225,221,216,1);position:relative;z-index:2;}
.agenda-list {padding:10px 0 10px 0;width:137px;background:white;border:1px solid #ebebe9;display:inline-block;font-family: 'latoblack';font-size:11px;position:relative;cursor:pointer;-webkit-box-shadow: inset 0 10px 10px -10px rgba(235,234,231,1);-moz-box-shadow: inset 0 10px 10px -10px rgba(235,234,231,1);box-shadow: inset 0 10px 10px -10px rgba(235,234,231,1);}
.agenda-list.active {background:#faf6eb;box-shadow:none;}
.agenda-left {border-top-left-radius:5px;border-bottom-left-radius:5px;}
.agenda-left:before {width:12px;height:12px;content:'';position:absolute;background:url('/css/images/icon-tab01.png') no-repeat;top:9px;left:20px;}
.agenda-right {border-top-right-radius:5px;border-bottom-right-radius:5px;padding-left:20px;}
.agenda-right:before {width:11px;height:11px;content:'';position:absolute;background:url('/css/images/icon-tab02.png') no-repeat;top:9px;left:15px;}
.agenda-content-tab {background:#faf8f2;height:auto;display:none;}
.agenda-content-tab.active {display:block;}
.agenda-content-tab .list {padding:15px 10px;border-bottom:1px solid #eeeeed;}
.agenda-content-tab .list:last-child {border-bottom:none;}
.agenda-content-tab .list .time {text-align:center;width:52px;background:#6b7e16;font-family: 'roboto_condensedbold';font-size:18px;line-height:1;color:white;padding:17px 0;border-radius:5px;margin-right:10px;}
.agenda-content-tab .list .title {width:75%;min-height:52px;}
.agenda-content-tab .list .title a {font-family: 'latobold';font-size:14px;line-height:1.25;color:black;}
.agenda-content-tab .list .title a:hover {color:#d4a216;}

.tv-parlemen-video {position:relative;}
.tv-parlemen-control {background:rgba(255,255,255,0.75);width:50px;height:50px;position:absolute;bottom:0;left:0;}
.tv-parlemen-play-button {width: 0;height: 0;border-style: solid;border-width: 11px 0 11px 16px;border-color: transparent transparent transparent #d68d04;position: absolute;left: 50%;top: 50%;margin-top: -11px;margin-left: -8px;}

.laporan-group .date {font-family: 'latobold';font-size:12px;text-align:center;background:#7d726c;width:50%;color:white;position:relative;padding:6px 10px 6px 0;}
.laporan-group .date .tri {width: 0;height: 0;border-style: solid;border-width: 12px 10px 12px 0;border-color: transparent #ffffff transparent transparent;position:absolute;top:0;right:0;}
.laporan-group .list {padding:15px 0;border-bottom:1px solid #efefee;}
.laporan-group .list .size {color:#6b7e16 !important;}
.laporan-group .list .icon {width:22px;height:22px;background:url('images/icon-pdf.png') no-repeat;}
.laporan-group .list .title {width: 85%;margin-left: 5%;font-family: 'latobold';font-size:14px;line-height:1.25;color:black;min-height:22px;}
.laporan-group .list .title a {font-family: 'latobold';font-size:14px;line-height:1.25;color:black;}
.laporan-group .list .title a:hover {color:#d4a216;}

.gallery-caption {font-family: 'latobold';font-size:14px;line-height:1.25;color:black;margin-top:10px;}

#gallery .owl-controls {position:absolute;top:-55px;right:0;}
#gallery .owl-controls .owl-nav .owl-prev{width:12px;height:10px;background:url(images/arrow-cal-left.png) no-repeat center;float:left;padding: 15px;
border: 1px solid #f3f2f0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
#gallery .owl-controls .owl-nav .owl-next{width:12px;height:10px;background:url(images/arrow-cal-right.png) no-repeat center;float:left;padding: 15px;
border: 1px solid #f3f2f0;border-top-right-radius:5px;border-bottom-right-radius:5px;}
#gallery .owl-controls .owl-nav .owl-prev:hover, #gallery .owl-controls .owl-nav .owl-next:hover{background-color:#faf6eb;}

#majalah .item {display:inline;font-size:0;}
#majalah .item {margin-right:0;}

footer {background:#f2f0ec;padding:20px 0 0 0;margin-top:-1px;-webkit-box-shadow: inset 0px 20px 20px -10px rgba(222,218,214,1);-moz-box-shadow: inset 0px 20px 20px -10px rgba(222,218,214,1);box-shadow: inset 0px 20px 20px -10px rgba(222,218,214,1);}
footer .footerTitle {font-family: 'latoblack';font-size:14px;letter-spacing:0.5px;line-height:1;}
footer ul.list-menu {padding:0;font-size:13px;line-height:2;}
footer ul.media {padding:0;margin-left:10px;}
footer ul.media li {padding-right:30px;}
footer ul.media li:nth-child(4) {margin-right:30px;border-right:1px solid #cccccc;}
footer ul.media li:nth-child(5) {padding-right:0;}
footer ul.media li:nth-child(5) img {margin-right:10px;}
footer ul.media li:nth-child(5) h2 {display:inline;position: relative;top: 1px;margin-right:10px;}
footer ul.media li:nth-child(6) {padding:0;}

.footer-1 {color:#7d726c;}

.footer-menu > div {padding-left:25px;}
.footer-menu .title,
.titleSubscribe {font-family: 'latobold';font-size:14px;letter-spacing:0.1px;line-height:1;margin-bottom:15px;}
.footer-menu .title { line-height:1.5; font-size: 15px; }
.titleSubscribe {margin-right:15px;margin-bottom:0;position:relative;padding-left:30px;}
.titleSubscribe:before {width:24px;height:31px;background:url('images/icon-mail.png') no-repeat;content:'';position:absolute;top:-9px;left:0;}

/* .footer-copy {background:url('images/Dayak-footer.png')repeat;} */
/* .footer-copy {background:url('images/Bengkulu-footer.png')repeat;} */
/* .footer-copy {background:url('images/Papua-footer.png')repeat;} */
/* .footer-copy {background:url('images/Aceh-footer.png')repeat;} */
.footer-copy {background:url('images/Kawung-footer.png')repeat;}

.form-subscribe {position:relative;}
.form-subscribe input[name="email"] {padding:7px 45px 7px 7px;width:217px;border:1px solid #a79e99;border-radius:5px;background:transparent;}

.btn-subscribe {position:absolute;border:none;background:transparent;font-family: 'latobold';font-size:12px;border-left:1px solid #a79e99;right:0;padding: 3px 10px 3px;color:#d19b04;top:0;outline:0;top:50%;margin-top:-9px;}
.btn-subscribe:hover {color:#b08203;}

.btn-read-more {border:none;background:transparent;padding:0;margin:0;color:#d09c2a;outline:0;position:relative;margin-right:15px;border-bottom:1px solid transparent;line-height:1.25;}
.btn-read-more:hover {border-bottom:1px solid #b08203;color:#b08203;}
.btn-read-more:after {content:'';position:absolute;background:url('images/icon-read-more.png') no-repeat 10%;width:12px;height:12px;right:-15px;top:50%;margin-top:-6px;}
.btn-read-more:hover:after {content:'';position:absolute;background:url('images/icon-read-more-hover.png') no-repeat 10%;width:12px;height:12px;right:-15px;top:50%;margin-top:-6px;}

/* #fixed-menu,
#fixed-menu-resp {padding:40px 0;background:white;position:absolute;top:0;left:-325px;z-index:10;width:325px;opacity:0;filter:alpha(opacity=0);}
#fixed-menu div.fm-item > a,
#fixed-menu-resp div.fm-item > a {font-family: 'latobold';font-size:16px;padding:0 20px;display:block;}
#fixed-menu-resp div.fm-item > a {display:inline-block;}
#fixed-menu .hassubmenu > a,
#fixed-menu-resp .hassubmenu {position:relative;}
#fixed-menu .hassubmenu:hover > a, #fixed-menu .item-submenu div > a:hover, #fixed-menu-resp .hassubmenu:hover > a, #fixed-menu-resp .item-submenu div > a:hover {color:#d19b04;}
#fixed-menu .hassubmenu > a:after,
#fixed-menu-resp .hassubmenu:after {width:5px;height:10px;background:url('images/icon-submenu.png') no-repeat;content:'';position:absolute;top:2px;right:20px;} */
#fixed-menu,
#fixed-menu-resp {padding:40px 0;background:white;position:fixed;top:0;left:-325px;z-index:10;width:325px;opacity:0;filter:alpha(opacity=0);}
#fixed-menu div.fm-item > a,
#fixed-menu-resp div.fm-item > a {font-family: 'latobold';font-size:16px;padding:0 20px;display:block;}
#fixed-menu-resp div.fm-item > a {display:inline-block;}
#fixed-menu .hassubmenu,
#fixed-menu .hassubmenu > a,
#fixed-menu-resp .hassubmenu {position:relative;}
#fixed-menu .hassubmenu > a:after,
#fixed-menu-resp .hassubmenu:after {width:5px;height:10px;background:url('images/icon-submenu.png') no-repeat;content:'';position:absolute;top:2px;right:20px;}
#fixed-menu .hassubmenu:hover > a, #fixed-menu .item-submenu div > a:hover, #fixed-menu-resp .hassubmenu:hover > a, #fixed-menu-resp .item-submenu div > a:hover {color:#d19b04;}

.fm-group,
.fmr-group {border-bottom:1px solid #ebebeb;margin-bottom:20px;}

/* #fixed-menu .item-submenu {position:absolute;padding:40px 0 0 0;top:0;left:325px;width:325px;background:rgba(255,255,255,0.9);display:none;margin-top:-44px;} */
#fixed-menu .item-submenu {position:fixed;padding:36px 0;top:0;left:325px;width:325px;background:rgba(255,255,255,0.9);display:none;}
#fixed-menu .item-submenu a,
#fixed-menu-resp .item-submenu a {font-family: 'latobold';font-size:16px;padding:0 20px;display:block;line-height:1.5;}

#fixed-menu .hassubmenu.open .item-submenu,
#fixed-menu-resp .hassubmenu.open .item-submenu {display:block;}
#fixed-menu .close,
#fixed-menu-resp .close {width:16px;height:15px;background:url('images/menu-close.png') no-repeat;top:15px;right:15px;position:absolute;cursor:pointer;}
#fixed-menu .close:hover,
#fixed-menu-resp .close:hover {background-position:0 -15px;}
#fixed-menu-resp {width:100%;margin-top:0;left:-100%;height:100%;overflow:auto;}
#fixed-menu-resp .item-submenu {margin-top: 25px;padding-left: 25px;display:none;}
@media (min-width: 768px) {
	#fixed-menu-resp { width: 50%; }
}

.start-content {padding-top:60px;}
@media (max-width: 991px) {
	.start-content {padding-top: 30px;}
}

.banner-fixed {position:fixed !important;bottom:0;z-index:-1;}
.banner-fixed-title {font-family: 'latobold';font-size:60px;color:white;text-align:center;}

.pagination {padding-top:20px;padding-bottom:50px;}
.pagination a:hover, .pagination a.active {color:#d4a216;}
.pagination ul {padding:0;display:inline-block;}
.pagination ul li {padding:0 15px;}
.pagination .col-md-2 li:first-child {border-right:1px solid #7c7c7c;padding-left:0;}
.pagination .col-md-2 li:last-child {padding-right:0;}
.pagination .col-md-9 li {border-right:1px solid #7c7c7c;}
.pagination .col-md-9 li:first-child {padding-left:0;}
.pagination .col-md-9 li:last-child {border-right:0;padding-right:0;}
.pagination-line,
.grey-line {height:1px;background:#ebebeb;}

.side-category-menu {margin-bottom:30px;}
.side-category-menu li {margin-bottom:15px;margin-right:20px;}
.side-category-menu a {line-height:17px;font-family: 'latobold';font-size:14px;}
.side-category-menu a:hover, .side-category-menu a.active {color:#d4a216;}
.side-category-media li {padding:0 15px;}
.side-category-media li:first-child {padding-left:0;}
.side-category-media li:last-child {padding-right:0;}

.twitter-content {font-size:14px;line-height:1.5;}
.twitter-content a {color:#d19b04;}
.twitter-time {font-size:13px;color:#949494;}

#twitter .owl-controls {position:absolute;top:-37px;right:0;}
#twitter .owl-controls .owl-dots {text-align:center;}
#twitter .owl-controls .owl-dots .owl-dot {width:8px;height:8px;border-radius:50%;background:#a1a1a1;display:inline-block;margin:0 5px;}
#twitter .owl-controls .owl-dots .owl-dot.active {background:#d09c2a;}

#detail {position:relative;min-height:580px;}
#detail .date {font-family: 'latobold';font-size:15px;letter-spacing:0.1px;line-height:1;}
#detail .content {line-height:2;text-align:justify;font-size: 14px;}
#detail .content img {max-width: 100% !important;}

.share {margin-top:60px;}
.share.fixed {position:fixed;top:45px;bottom:inherit !important;}
.share.fixed-bottom {position:absolute;}
.share > a.mb10 {display:block;}
.share .total {font-family: 'roboto_condensedbold';font-size:30px;}
.share .text-shares {font-family: 'montserratregular';font-size:13px;}

.fancybox-overlay {background:rgba(255,255,255,0.95);}
.fancybox-type-ajax {width:100%  !important;top:0  !important;left:0 !important;}
.fancybox-type-ajax .fancybox-close {background:url('images/popup-video-close-btn.png') no-repeat;width:37px;height:35px;top:15px;right:15px;}
.fancybox-type-ajax .fancybox-close:hover {background-position:0 -35px;}
.fancybox-type-ajax.fancybox-opened .fancybox-skin {box-shadow:none;background:transparent;}
.fancybox-type-ajax.fancybox-opened .fancybox-inner {margin:0 auto;height:auto !important;}

.agenda-detail-title {color:#d4a216;}
.agenda-detail-date {font-family: 'latobold';font-size:16px;letter-spacing:0.1px;line-height:1;}
.agenda-detail-content {font-size:18px;line-height:1.5;}

.accordion-toggle {cursor: pointer;font-family: 'latoblack';font-size:16px;padding:17px 17px 17px 50px;background:#faf9f4;margin-bottom:10px;position:relative;}
.accordion-toggle:before {content:'';position:absolute;width:16px;height:16px;background:url('images/icon-uu-arrow02.png') no-repeat;left:17px;}
.accordion-toggle.active {color:#d19b04;}
.accordion-toggle.active:before {content:'';position:absolute;width:16px;height:16px;background:url('images/icon-uu-arrow.png') no-repeat;}
.accordion-content {display: none;margin:-10px 0 10px 0;padding:5px 17px 5px 50px;background:#faf9f4;}
.accordion-content.active {display: block;}
.accordion-content .head, .accordion-content .list {border-bottom:1px solid #c8c3be;padding:10px 0;font-family: 'latobold';font-size:14px;}
.accordion-content .list {border-bottom:1px dotted #d8d2cb;}
.accordion-content .list:last-child {border-bottom:0;}
.accordion-content .no {min-height:22px;text-align:center;width: 28px;}
.accordion-content .text {width:100%;padding-left:20px;}
.accordion-content .text .icon {width:22px;height:22px;background:url('images/icon-pdf.png') no-repeat;}
.accordion-content .text .title {padding-left:20px;min-height:22px;}
.accordion-content .text .title a {line-height:1.25;min-height:22px;font-family: 'latobold';font-size:14px;color:black;}
.accordion-content .text .title a:hover{color:#d4a216;}
.accordion-content .text .size {color:#6b7e16;}
.download-all {font-family: 'latobold';font-size:14px;color:black;line-height:20px;padding:20px 0;display:inline-block;}

#daftar-anggota ul.options {padding:0;}
#daftar-anggota ul.options li.list {padding:0 50px 0 25px;border-right:1px solid #e1e1e1;position:relative;}
#daftar-anggota ul.options li.list:first-child {padding-left:0;}
#daftar-anggota ul.options li.list:last-child {padding-right:0;border:none;}
#daftar-anggota ul.options li.list > a {font-family: 'latobold';font-size:18px;}
#daftar-anggota ul.options li.list > a:after {width:18px;height:18px;background:url('images/icon-arrow-anggota.png') no-repeat center;content:'';position:absolute;border:1px solid #a79e99;border-radius:5px;margin-left:10px;}

.list-type {padding:0;position:absolute;background:white;padding:15px 25px 15px 40px;border:1px solid #e1e1e1;z-index:1;margin-top:15px;border-radius:5px;-moz-box-shadow: 0 0 2px 1px #e1e1e1;-webkit-box-shadow: 0 0 2px 1px #e1e1e1;box-shadow: 0 0 2px 1px #e1e1e1;display:none;}
.list-type:before {content:'';position:absolute;width:16px;height:8px;background:url('images/top-side.png') no-repeat;top: -8px;left: 14px;}
.list-type a {font-family: 'latobold';font-size:13px;line-height:2;position:relative;}
.list-type a:hover {color:#d4a216;}
.list-type a:hover:before {content:'';position:absolute;width:14px;height:10px;background:url('images/icon-select.png') no-repeat;top:0;margin-left:-25px;}

@media(max-width:991px){
	footer ul.media {margin:0;}
}

@media(max-width:767px){
	/* .tb-language.english {margin-left:0;} */
	.header-resp .tb-menu {margin:0 15px 0 0;}
	.header-resp .tb-pencarian {margin:0;}
	h1 {font-size:10px;}
	footer ul.media {display:inline-block;}
	footer ul.media li {padding-right:0;}
	footer ul.media.sosmed li {padding:0 20px;border:none;margin:0;}
	.form-subscribe input[name="email"] {width:180px;}
	#daftar-anggota ul.options.list-inline li.list {float:none;border:none !important;padding:0 !important;margin-bottom:15px;}
}

@media(max-width:480px){
	.list-berita-lainnya .col-xs-50{width:100%;}
}

.banner.page-banner {height:auto;}
.page-banner { background-position: 50% 0; background-size: cover; position: relative; overflow: hidden;text-align:center;}
.page-banner h2 {background:url('images/Garis.png') repeat;display:inline-block;}
.page-banner .new-custom-banner {width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);}
@media(max-width:480px){
	.page-banner h2 {font-size:40px;}
}

h2 { font-family: 'latobold'; font-size: 60px; line-height: 1; letter-spacing: 0.5px; color: #fff; text-align: center; }
h3 {font-family: 'latoblack';font-size: 32px;letter-spacing: 0.1px;line-height: 42px;color: black;margin-bottom:25px;}
.page-content { font-family: 'latoregular'; font-size: 14px; color: #4c4c4c; line-height: 24px; }
.page-content a { color: #d19b04; }
.page-content img { max-width: 100% !important; }

.tbl.block { width: 100%; }

.majalah-list,
.buletin-list,
.gallery-list {  }
.majalah-list .items,
.buletin-list .items,
.gallery-list .items { margin-bottom: 30px; text-align: center; }
.majalah-list .items a,
.buletin-list .items a,
.gallery-list .items a { display: block; }
.majalah-list .items .cover,
.buletin-list .items .cover,
.gallery-list .items .cover { margin-bottom: 15px; }
.majalah-list .items .title,
.buletin-list .items .title,
.gallery-list .items .title { font-family: 'latobold'; font-size: 16px; line-height: 21px; color: #000; }
@media (max-width: 767px) {
	.majalah-list .items:nth-child(2n+1),
	.buletin-list .items:nth-child(2n+1),
	.gallery-list .items:nth-child(2n+1) { clear: left; }
}
@media (min-width: 768px) {
	.majalah-list .items:nth-child(3n+1),
	.gallery-list .items:nth-child(3n+1) { clear: left; }
}
@media (min-width: 768px) and (max-width: 991px) {
	.buletin-list .items:nth-child(3n+1) { clear: left; }
}
@media (min-width: 992px) {
	.buletin-list .items:nth-child(4n+1) { clear: left; }
}

.tv-parlemen-caption { font-family: 'latobold'; font-size: 14px; line-height: 22px; }
.tv-parlemen-caption .title { color: #000; margin-bottom: 5px; }
.tv-parlemen-caption .desc { color: #7d726c; margin-bottom: 5px; }
.tv-parlemen-caption .desc span { color: #6b7e16; }

.video-list .items { margin-bottom: 30px; }
.video-list .items .tv-parlemen-caption .title { font-size: 16px; }
.video-list .items .tv-parlemen-caption .time { font-family: 'latoregular'; color: #4c4c4c; }
.video-list .items .tv-parlemen-caption .time span { display: inline-block; width: 70px; }

.link-list { font-size: 16px; }
.link-list .items { margin-bottom: 30px; }
.link-list .items .title { font-family: 'latobold'; margin-bottom: 10px; }
ul.custom-button { list-style: none; padding: 0; font-size: 16px; line-height:24px; }
ul.custom-button li { padding-left: 20px; position: relative; }
ul.custom-button li:before { position: absolute; width: 5px; height: 5px; top: 10px; left: 0; background: #d4a216; border-radius: 50%; content: ''; }
ul.custom-button li a { color: inherit; }
ul.custom-button li a:hover { color: #d19b04; }

.jspane .jspTrack {background:white;}
.jspane .jspTrack .jspDrag {background:#d4a216;width: 4px;border-radius: 5px;}
.list-type.list-fraksi {width:340px;padding-left:80px;}
.list-type.list-fraksi a {display:inline-block;height:25px;}
.list-type.list-fraksi a:hover:before {content:'';position:absolute;width:14px;height:10px;background:url('images/icon-select.png') no-repeat;margin-left:-65px;top:50%;margin-top:-5px;}
.list-type.list-fraksi .partai-demokrat {width:30px;height:20px;background:url('/images/icon-partai01.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-golkar {width:30px;height:20px;background:url('/images/icon-partai02.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-pdip {width:30px;height:20px;background:url('/images/icon-partai03.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-pks {width:30px;height:20px;background:url('/images/icon-partai04.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-pan {width:30px;height:20px;background:url('/images/icon-partai05.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-ppp {width:30px;height:20px;background:url('/images/icon-partai06.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-pkb {width:30px;height:20px;background:url('/images/icon-partai07.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-gerindra {width:30px;height:20px;background:url('/images/icon-partai08.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-hanura {width:30px;height:20px;background:url('/images/icon-partai09.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-fraksi .partai-nasdem {width:30px;height:20px;background:url('/images/icon-partai10.jpg')no-repeat;position:absolute;top:50%;margin:-10px 0 0 -40px;}
.list-type.list-propinsi {padding-right:0;padding-left:0;}
.list-type.list-propinsi .jspane {min-width:250px;height:400px;}
.list-type.list-propinsi .jspane .list-item {padding-left:40px;}

/* .list-anggota .box {background:#faf9f4;-moz-box-shadow: 0 0 3px #888;-webkit-box-shadow: 0 0 3px #888;box-shadow: 0 0 3px #888;} */
.list-anggota {font-size:0;}
.list-anggota .list {display:inline-block;width:25%;padding-left:10px;padding-right:10px;vertical-align:top;}
.list-anggota .list a {display:block;}
.list-anggota .box {background:#fff;margin-bottom:15px;}
.list-anggota .box .keterangan {padding:20px 10px;}
.list-anggota .box .keterangan .nama {font-family:'latobold';font-size:16px;line-height:1.5;margin-bottom:10px;}
.list-anggota .box .keterangan .info {font-family:'latoregular';font-size:14px;line-height:1.5;}
.list-anggota .box .keterangan .line {width:34px;height:1px;background:#6b7e16;margin:10px auto;}
@media (max-width: 767px) {
	.list-anggota .list {width:100%;}
}

.profile-header {display:table;width:100%;margin-bottom:30px;}
.profile-header > .in {display:table-cell;vertical-align:middle;}
.profile-header > .in.image {width:250px;padding-right:30px;}
.profile-header > .in .info {font-size:16px;display:table;width:100%;}
.profile-header > .in .info > .in {display:table-cell;vertical-align:top;line-height:30px;}
.profile-header > .in .info > .in.thead {width:160px;padding-right:10px;font-weight:bold;}
.profile-header > .in .info > .in.div {width:10px;}
@media (max-width: 767px) {
	.profile-header {display:block;}
	.profile-header > .in {display:block;}
	.profile-header > .in.image {width:100%;padding-right:0;margin-bottom:30px;}
	.profile-header > .in .info > .in.thead {width:140px;}
}

.ket-title {font-weight:bold;}
.keterangan {font-size:16px;}
.keterangan .ket-title {width:30%;line-height: 1.25;}
.keterangan .input {width:70%;line-height: 1.25;}

.cerita {font-size:14px;line-height:24px;}

#detail .link-list {line-height:24px;margin-bottom:20px;}
.link-list .items .stitle { font-family: 'latobold'; margin-bottom: 10px; }

.bw-slider-item .bw-pengumuman-content {padding:25px;height:auto;}
.bw-slider-event {position:relative;}
.bw-slider-event .title {position:absolute;bottom:0;background:rgba(0,0,0,0.5);font-family: 'latoblack';font-size:21px;line-height:30px;color:white;padding:30px 15px;}
.slider-social-media {background:white;border-radius:5px;font-size:0;}

.alat-kelengkapan .head, .alat-kelengkapan .list {border-bottom:1px solid #c8c3be;padding:10px 0;font-family: 'latobold';font-size:14px;}
.alat-kelengkapan .list {border-bottom:1px dotted #d8d2cb;}
.alat-kelengkapan .list:last-child {border-bottom:0;}
.alat-kelengkapan .no {color:black;text-align:center;width: 28px;}
.alat-kelengkapan .date {padding-left:10px;color:black;}
.alat-kelengkapan .text {width:100%;padding-left:30px;color:black;}
.alat-kelengkapan .list .text {padding-left:10px;}
.alat-kelengkapan .list .no,
.alat-kelengkapan .list .date {min-height:22px;}
.alat-kelengkapan .head .date,
.alat-kelengkapan .head .text {position:relative;}
.alat-kelengkapan .head .date:after,
.alat-kelengkapan .head .text:after {width:8px;height:5px;content:'';position:absolute;background:url('images/icon-arrow-anggota.png') no-repeat;top:3px;margin-left:5px;}
.alat-kelengkapan .text .icon {width:22px;height:22px;background:url('images/icon-pdf.png') no-repeat;}
.alat-kelengkapan .text .title {width: 100%;padding-left:10px;min-height:22px;}
.alat-kelengkapan .text .title a {line-height:1.25;min-height:22px;font-family: 'latobold';font-size:14px;color:black;}
.alat-kelengkapan .text .title a:hover {color:#d4a216;}
.alat-kelengkapan .text .size {color:#6b7e16;}

.fraksi {padding:5px 17px 5px 50px;}
.fraksi .head, .fraksi .list {border-bottom:1px solid #c8c3be;padding:10px 0;font-family: 'latobold';font-size:14px;}
.fraksi .list {border-bottom:1px dotted #d8d2cb;}
.fraksi .list:last-child {border-bottom:0;}
.fraksi .no {width:5%;padding-left:10px;color:black;}
.fraksi .icon {width:6%;color:black;}
.fraksi .nama {width:40%;color:black;}
.fraksi .kode {width:20%;color:black;}
.fraksi .total {width:20%;color:black;}
.fraksi .jumlah {width:14%;color:black;}
.fraksi .persen {width:15%;color:black;}
.fraksi .list .no,
.fraksi .list .icon,
.fraksi .list .nama,
.fraksi .list .kode,
.fraksi .list .total,
.fraksi .list .jumlah,
.fraksi .list .persen {min-height:22px;}
.fraksi .list .jumlah {padding-right:35px;}
.fraksi .list .persen {padding-right:30px;}
.fraksi .list .nama {line-height:1.25;min-height:22px;font-family: 'latobold';font-size:14px;color:black;}
.fraksi .detail-fraksi {font-size:14px;line-height:24px;}
.list-total .total,
.list-total .persen,
.list-total .jumlah {color:#d4a216;}

.search ul.options {padding:0 0 15px 0;border-bottom:1px solid #ebebeb;}
.search ul.options li.list {padding:0 50px 0 25px;border-right:1px solid #e1e1e1;position:relative;}
.search ul.options li.list:nth-child(2) {width:calc(100% - 210px);}
.search ul.options li.list:first-child {padding-left:0;width:210px;}
.search ul.options li.list:last-child {padding-right:0;border:none;}
.search ul.options li.list > a {font-family: 'latobold';font-size:18px;}
.search ul.options li.list > a:after {width:18px;height:18px;background:url('images/icon-arrow-anggota.png') no-repeat center;content:'';position:absolute;border:1px solid #a79e99;border-radius:5px;margin-left:10px;}
.search ul.options li.list .formSearch {font-size:18px;margin-left:20px;}
.search ul.options li.list .formSearch input {padding:0;}
.search ul.options li.list .formSearch button.tb-pencarian {left:20px;margin-top:-8.5px;}
.search .sub-title {font-family: 'latoblack';font-size: 16px;letter-spacing: 0.1px;line-height: 1.25;}
.search .search-keyword {color:#d4a216;}
.list-search-result .bl-content {font-size:14px;}
.list-search-result .bl-title.type1 {border-color:#6b7e16;}
.list-search-result .bl-title.type2 {border-color:#d4a216;}
.list-search-result .bl-title.type3 {border-color:#e42630;}

#contact .contact-banner-box {background:rgba(255,255,255,0.2);border-radius:5px;padding:10px;box-shadow:0 0 1px #d19b04;}
#contact .contact-banner-box-inside {background:rgba(250,248,243,0.9);padding:25px;font-family: 'latoregular';font-size:14px;line-height:34px;}
#contact .contact-banner-box-inside .bold {font-family: 'latoblack';font-size: 21px;margin-top:25px;}
#contact .contact-number-list {font-size:16px;}
#contact .contact-number-list > div {padding:30px;border-right:1px solid #cccccc;position:relative;line-height:19px;}
#contact .contact-number-list > div:first-child {padding-left:0;}
#contact .contact-number-list > div:last-child {padding-right:0;border:none;}
#contact .contact-number-list > div > div {padding-left: 30px;position: relative;}
#contact .contact-number-list > div > div a {color:#d4a216;}
#contact .contact-number-list .title {font-size:18px;font-family: 'latobold';color:black;padding:0;}
#contact .contact-number-list .phone:before {width:19px;height:19px;content:'';position:absolute;background:url('images/icon-phone.png') no-repeat;top:0;left:0;}
#contact .contact-number-list .fax:before {width:19px;height:19px;content:'';position:absolute;background:url('images/icon-fax.png') no-repeat;top:0;left:0;}
#contact .contact-number-list .email:before {width:19px;height:19px;content:'';position:absolute;background:url('images/icon-email.png') no-repeat;top:0;left:0;}
#contact .contact-number-list .web:before {width:19px;height:19px;content:'';position:absolute;background:url('images/icon-web.png') no-repeat;top:0;left:0;}

.follow-dpr {position:relative;}
.follow-dpr .tbl {height:30px;}

.follow-facebook,
.follow-twitter,
.follow-youtube {color:#d4a216 !important;font-size:18px !important;font-family: 'latobold' !important;}

.follow-facebook {padding-left:25px;}
.follow-twitter {padding-left:40px;}
.follow-youtube {padding-left:40px;}

.follow-facebook:before {width:14px;height:30px;content:'';position:absolute;top:-6px;left:0;background:url('images/follow-facebook.png') no-repeat;}
.follow-twitter:before {width:31px;height:30px;content:'';position:absolute;top:-6px;left:0;background:url('images/follow-twitter.png') no-repeat;}
.follow-youtube:before {width:33px;height:30px;content:'';position:absolute;top:-6px;left:0;background:url('images/follow-youtube.png') no-repeat;}

#map-canvas,
#map_canvas {height: 100%;}

.border-left {border-left:2px solid #d4a216;}

.moment-left,
.moment-right {padding-left:10px;padding-right:10px;position:relative;}
.moment-left:after {width:12px;height:12px;content:'';position:absolute;background:url('images/dot.png') no-repeat;right: -17px;top: 3px;z-index:1;}
.moment-right:before {width:12px;height:12px;content:'';position:absolute;background:url('images/dot.png') no-repeat;left: -17px;top: 3px;z-index:1;}
.moment .tahun {font-family: 'roboto_condensedbold';font-size:18px;color:#d4a216;margin-bottom:20px;}
.moment .title {font-family: 'latobold';font-size:16px;line-height:26px;}
.moment .content {font-size:16px;line-height:26px;}
.moment img {max-width:100%;}

.page404 {font-size:16px;position:absolute;top:50%;margin-top:-125px;left:0;right:0;}
.page404 .big {font-size:36px;font-family: 'latobold';color:black;}
.page404 .big-en {font-size:28px;font-family: 'latobold';color:black;}
.page404 .small-en {font-size:14px;}

.image_en,
.video_en {position:relative;}

.image_en a,
.video_en a {display:inline-block; width:100%;}

.image_en .title {color: white;position:absolute;top:50%;margin-top:-41px;left:0;right:0;padding-left:60px;padding-right:60px;text-align:center;}
.index-en-control {background:rgba(255,255,255,0.75);width:50px;height:50px;position:absolute;top:50%;left:50%;margin:-25px 0 0 -25px;}
.index-en-play-button {width: 0;height: 0;border-style: solid;border-width: 11px 0 11px 16px;border-color: transparent transparent transparent #d68d04;position: absolute;left: 50%;top: 50%;margin-top: -11px;margin-left: -8px;}

.footer-resp {font-family: 'robotoregular';font-size:20px;line-height:1;}
.footer-sms,
.footer-pengaduan-masyarakat,
.footer-layanan-informasi-publik {position:relative;padding-left:15px;}
.footer-sms:before {width:16px;height:20px;content:'';position:absolute;background:url('images/icon-sms-small.png') no-repeat;left:50%;margin-left:-140px;}
.footer-pengaduan-masyarakat:before {width:21px;height:20px;content:'';position:absolute;background:url('images/icon-pengaduan-masyarakat-small.png') no-repeat;left:50%;margin-left:-115px;}
.footer-layanan-informasi-publik:before {width:16px;height:20px;content:'';position:absolute;background:url('images/icon-layanan-informasi-publik-small.png') no-repeat;left:50%;margin-left:-120px;}

@media (max-width: 991px){
	.banner.page-banner {height:300px;}
}

@media (max-width: 767px){
	#contact .contact-number-list > div:first-child {padding:30px;}
	#contact .contact-number-list > div {border:none;}
	.follow-dpr .tbl{width:100%;}
}

.timeline .content {font-size:16px !important;line-height:26px !important;clear:both;}
.timeline .timeline_title {margin: 0 10px;}
.timeline .timeline_title_date {font-family: 'roboto_condensedbold';font-size:18px !important;color:#d4a216 !important;}
.timeline_element_left .timeline_element_box {margin-top:5px;}
.timeline_element_right .timeline_title_date {float:left !important;}
.timeline_element_right .timeline_element_box {margin-top:25px;}
.timeline_element_right .content {text-align:left;}

#berita-foto .owl-controls {position:absolute;top:0;width: 100%;height: 100%;}
#berita-foto .owl-prev {width:21px;height:37px;background:url('images/berita-foto-slider-arrow.png') no-repeat 0 0;position:absolute;top:50%;left:20px;margin-top:-18px;}
#berita-foto .owl-next {width:21px;height:37px;background:url('images/berita-foto-slider-arrow.png') no-repeat -31px 0;position:absolute;top:50%;right:20px;margin-top:-18px;}
.small-title {font-family: 'latobold';font-size: 14px;color:#d4a216;line-height:24px;}
.small-content {font-size:14px;line-height:24px;}
.foto-info {display:inline-block;}
ul.foto-info li {position: relative;}
ul.foto-info li:nth-child(2) {padding:0 15px;margin:0 10px;}
ul.foto-info li:nth-child(2):before {position: absolute; width: 5px; height: 5px; top: 50%; margin-top: -4px; left: 0; background: #d4a216; border-radius: 50%; content: '';}
ul.foto-info li:nth-child(2):after {position: absolute; width: 5px; height: 5px; top: 50%; margin-top: -4px; right: 0; background: #d4a216; border-radius: 50%; content: '';}

.slider-bottom {position:relative;padding-top:25px;}
.number {position:absolute;top:0;left:0;right:0;}
#list-berita-foto .owl-controls {position:absolute;top:-25px;width: 100%;}
#list-berita-foto .owl-prev {width:12px;height:10px;background:url('images/arrow-cal-left.png') no-repeat;position:absolute;top:0;left:50%;margin-left:-50px;}
#list-berita-foto .owl-next {width:12px;height:10px;background:url('images/arrow-cal-right.png') no-repeat;position:absolute;top:0;right:50%;margin-right:-50px;}
#list-berita-foto .title {font-family: 'latobold';font-size: 14px;color:black;text-align:left;}

a.back-btn {display:inline-block;color:#d09c2a;position:relative;padding-left:20px;}
a.back-btn:before {width:12px;height:12px;content:'';position:absolute;background:url('images/icon-back-page.png') no-repeat;top:0;left:0;}

.read-pdf {width:100%;min-height:680px;}

.widget-resp .list-widget {width:304px;}
.widget-resp ul.options {padding-bottom:25px !important;border-bottom:1px solid #e1e1e1;}
.widget-resp ul.options li.list {position:relative;margin-bottom:20px;}
.widget-resp ul.options li.list:first-child {padding-left:0;}
.widget-resp ul.options li.list:last-child {padding-right:0;border:none;margin-bottom:0;}
.widget-resp ul.options li.list > a {font-family: 'latobold';font-size:18px;}
.widget-resp ul.options li.list > a:after {width:18px;height:18px;background:url('images/icon-arrow-anggota.png') no-repeat center;content:'';position:absolute;border:1px solid #a79e99;border-radius:5px;margin-left:10px;}

.share-fb {width:60px;height:60px;background:url('images/icon-share-facebook.jpg')no-repeat 0 0;}
.share-twitter {width:60px;height:60px;background:url('images/icon-share-twitter.jpg')no-repeat 0 0;}
.share-google {width:60px;height:60px;background:url('images/icon-share-google.jpg')no-repeat 0 0;}
.share-linkedin {width:60px;height:60px;background:url('images/icon-share-linked.jpg')no-repeat 0 0;}
.share-email {width:60px;height:60px;background:url('images/icon-share-email.jpg')no-repeat 0 0;}
.share-print {width:60px;height:60px;background:url('images/icon-print.jpg')no-repeat 0 0;}
.share-fb:hover,
.share-twitter:hover,
.share-google:hover,
.share-linkedin:hover,
.share-email:hover,
.share-print:hover {background-position: 0 -60px;}
.list-share,
.list-share a {display:inline-block;}
.list-share .total {font-family: 'roboto_condensedbold';font-size:30px;}
.list-share .text-shares {font-family: 'montserratregular';font-size:13px;}

.list-share li {margin-right:10px;}

.scrollToTop{width:46px;height:46px;background:url('images/btn-back-to-top.png') no-repeat;position:fixed;bottom:80px;right:17.5px;display:none;}
.scrollToTop:hover{background-position:0 -51px;}
.pagination img:hover {opacity:0.75;filter:alpha(opacity=75);}

.list-berita-lainnya a:hover img {opacity:0.75;filter:alpha(opacity=75);}
.list-berita-lainnya a:hover .bl-title {color:#b08203;}
.list-berita-lainnya a:hover .bl-date {color:#4c4c4c;}
.list-berita-lainnya a:hover .bl-content {color:#4c4c4c;}

.breadcrumb {font-family:latoregular;font-size:14px;letter-spacing:0.5px;line-height:1;}
.breadcrumb .active {color:#d09c2a;}

.page-banner-video {max-height:700px !important;height:auto;}
.page-banner-video .teaser.video {overflow:hidden;background-color: #000;background-size: cover;/* min-height: 320px; */}
.page-banner-video .teaser.video video {width: 100%;height: auto;min-height: 270px;display: block;}
.page-banner-video .teaser.video .play.button {cursor: pointer;text-decoration: none !important;display: inline-block;font-family: Arial,sans-serif;font-weight: bold;text-align: center;color: #fff;-webkit-transition: background-color 0.3s,opacity 0.3s;-moz-transition: background-color 0.3s,opacity 0.3s;-o-transition: background-color 0.3s,opacity 0.3s;transition: background-color 0.3s,opacity 0.3s;width: 80px;height: 80px;z-index: 2;position: absolute;display: block;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.page-banner-video .teaser.video .controls {opacity: 0;visibility: hidden;position: absolute;width: 100%;height: 35px;bottom: 0;-webkit-transition: opacity 0.3s ease-in-out;-moz-transition: opacity 0.3s ease-in-out;-o-transition: opacity 0.3s ease-in-out;transition: opacity 0.3s ease-in-out;filter:alpha(opacity=0);}
.controls{opacity:0;visibility:hidden;position:absolute;width:100%;height:35px;bottom:0;-webkit-transition:opacity 0.3s ease-in-out;-moz-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out;filter:alpha(opacity=0);}

.page-banner-video .controls .inner>div{position:absolute;height:25px;top:5px}
.page-banner-video .controls .plause{left:5px;width:25px;cursor:pointer}
.page-banner-video .controls .plause span{display:block;width:8px;height:9px;margin:8px auto;border-top:5px solid rgba(0,0,0,0);border-bottom:5px solid rgba(0,0,0,0);border-left:10px solid #fff}
.page-banner-video .controls .progress{left:40px;right:80px}
.page-banner-video .controls .progress div{position:absolute;width:0;height:9px;left:0;margin:8px 0}
.page-banner-video .controls .progress div.loaded{opacity:0.8;background-color:#b08203;filter:alpha(opacity=80);}
.page-banner-video .controls .progress div.played{background:#fff}
.page-banner-video .controls .time{width:75px;right:5px;font:10px/25px "HUGEAvantGardeBold",sans-serif;color:#fff;text-align:center}
.page-banner-video .video.playing video:hover+.controls,.video.playing .controls:hover{opacity:1;visibility:visible;-webkit-transition:opacity 0.3s ease-in-out;-moz-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out;filter:alpha(opacity=100);}
.page-banner-video .video.playing .controls .plause span{border-top:0px;border-right:3px solid #fff;border-bottom:0px;border-left:3px solid #fff}

#sekjen-list { position: relative; }
#sekjen-list .level { text-align: center; font-family: 'latobold'; display: table; width: 100%; margin-bottom: 80px; position: relative; }
#sekjen-list .level .items { display: table-cell; position: relative; width: auto; padding: 0 10px; vertical-align: top; cursor: pointer; }
#sekjen-list .level .items:first-child { padding-left: 0; }
#sekjen-list .level .items:last-child { padding-right: 0; }
#sekjen-list .level .items:before { position: absolute; content: ''; width: 1px; height: 30px; background: #d4a216; bottom: 100%; left: 50%; margin-bottom: 10px; margin-left: -0.5px; }
#sekjen-list .level .items.active:after { position: absolute; content: ''; width: 1px; height: 30px; background: #d4a216; top: 100%; left: 50%; margin-top: 10px; margin-left: -0.5px; }
#sekjen-list .level .items .img { margin-bottom: 10px; border-radius: 50%; width: 70px; height: 70px; display: inline-block; overflow: hidden; }
#sekjen-list .level .items .img img { max-width: 70px !important; max-height: 70px !important; border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
#sekjen-list .level .items:hover .img img, #sekjen-list .level .items.active .img img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
#sekjen-list .level .items .img:before { position: absolute; content: ''; width: 100%; height: 1px; background: #d4a216; top: -40px; left: 0; }
#sekjen-list .level .items:first-child .img:before { width: 50%; left: 50%; }
#sekjen-list .level .items:last-child .img:before { width: 50%; }
#sekjen-list .level .items.active .img:after { position: absolute; content: ''; width: 100%; height: 1px; background: #d4a216; top: 100%; left: 0; margin-top: 40px; }
#sekjen-list .level .items.active .img.no-width:after { width: 0; }
#sekjen-list .level .items:first-child .img:after { width: 50%; left: 50%; margin-left: -1px; }
#sekjen-list .level .items:first-child .img.no-margin:after { margin-left: 0; }
#sekjen-list .level .items:last-child .img:after { width: 100%; left: initial; right: 50%; margin-right: -1px; }
#sekjen-list .level .items:last-child .img.no-margin:after { margin-right: 0; }
#sekjen-list .level .items .name { font-size: 16px; color: #000; }
#sekjen-list .level .items .title { font-size: 14px; color: #7d726c; }
#sekjen-list .level.grade-1 .items:before { display: none; }
#sekjen-list .level.grade-1 .items .img:before { display: none; }
#sekjen-list .level.grade-1 .items .img:after { display: none; }
#sekjen-list .level.grade-4 .items:after { display: none; }
#sekjen-list .level.grade-4 .items .img:after { display: none; }

#sekjen-list .items:hover .listing { display: block; }
#sekjen-list .items .listing { position: absolute; top: -111px; left: 80%; background: #fff; border: 1px solid #e1e1e1; display: none; z-index: 2; width: 390px; padding: 20px 15px 20px 0; text-align: left; box-shadow: 0 0 3px #ccc; border-radius: 3px; }
#sekjen-list .items .listing:before { position: absolute; content: ''; top: 50%; right: 100%; margin-top: -7px; width: 8px; height: 14px; background: url('images/arrow.png') no-repeat 0 0; }
#sekjen-list .items .listing ul { margin: 0; padding: 0; list-style: none; width: 100%; height: 250px; }
#sekjen-list .items .listing ul li { margin: 0; padding: 0 20px 20px; display: table; width: 100%; }
#sekjen-list .items .listing ul li:last-child { padding-bottom: 0; }
#sekjen-list .items .listing ul li > div { vertical-align: middle; }
#sekjen-list .items .listing ul li > div.img { display: table-cell; margin-bottom: 0; }
#sekjen-list .items .listing ul li > div.img:before { display: none; }
#sekjen-list .items .listing ul li > div.caption { display: table-cell; width: auto; padding-left: 20px; }

#sekjen-treeview { font-family: 'latobold'; }
#sekjen-treeview .items { display: table; width: 100%; margin-bottom: 15px; }
#sekjen-treeview .items > div { display: table-cell; vertical-align: middle; }
#sekjen-treeview .items > div.caption { width: auto; padding-left: 10px; line-height: 1.5; }
#sekjen-treeview .items .img { border-radius: 50%; width: 50px; height: 50px; overflow: hidden; }
#sekjen-treeview .items .img img { max-width: 50px !important; max-height: 50px !important; border-radius: 50%; }
#sekjen-treeview .items .name { font-size: 14px; color: #000; }
#sekjen-treeview .items .title { font-size: 12px; color: #7d726c; }

.pasal-fraksi li {clear:both;}
.pasal-fraksi .cnumber {width:40px;color:#6b7e16;}
.pasal-fraksi .text {width:calc(100% - 40px);}

.bw-pengumuman img:hover {opacity:1;filter:alpha(opacity=100);}

.dataTables_info {display:none;}

.dataTables_paginate {width:100%;margin-top:20px;}

.dataTables_paginate > span {display:inline-block;width:calc(100% - 115px);text-align:center;float:left;}

.dataTables_wrapper .dataTables_paginate .paginate_button {min-width:6px;border:none;}

.paginate_button.previous {width: 6px;padding: 0 !important;margin:10px 10px 10px 0 !important;background:none !important;border:none !important;}

.paginate_button.next {width: 6px;padding: 0 !important;margin:10px 4px 10px 5px !important;background:none !important;border:none !important;}

.paginate_button.first, .paginate_button.previous, .paginate_button.next, .paginate_button.last {float:left;}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {background:transparent;border:none;color:#4c4c4c !important;box-shadow:none;}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate span .paginate_button:hover {color:#d4a216 !important;border:none !important;box-shadow:none;}

.paginate_button.first {width: 12px;padding: 0 !important;margin:10px 15px 10px 0 !important;padding-right:27px !important;border:none !important;border-right:1px solid grey !important;background:none !important;}

.paginate_button.first:hover {width: 12px;padding: 0 !important;margin:10px 15px 10px 0 !important;padding-right:27px !important;border:none !important;border-right:1px solid grey !important;background:none !important;}

.paginate_button.last {width: 12px;padding: 0 !important;margin:10px 0 10px 12px !important;padding-left:15px !important;border:none !important;border-left:1px solid grey !important;background:none !important;}

.paginate_button.last:hover {width: 12px;padding: 0 !important;margin:10px 0 10px 12px !important;padding-left:15px !important;border:none !important;border-left:1px solid grey !important;background:none !important;}

table.dataTable th, table.dataTable td, table.dataTable thead, table.dataTable tbody,table.dataTable.hover tbody tr:hover, table.dataTable.hover tbody tr.odd:hover, table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover, table.dataTable.display tbody tr.odd:hover, table.dataTable.display tbody tr.even:hover, table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, table.dataTable tbody tr {background-color:transparent !important;}

table.dataTable.no-footer {border-bottom:none;}
table.dataTable thead th, table.dataTable thead td {border-bottom:1px solid #d8d2cb;}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {border-top:none;border-bottom:1px dotted #d8d2cb;}
.dataTables_length select {padding:5px 0;height:27px;border:1px solid #ccc;}
.dataTables_filter input {height:27px;padding-left:5px;padding-right:5px;border:1px solid #ccc;}

table.table-styling {width:100%;border-collapse:collapse;}
table.table-styling thead {background:transparent;border-bottom: 1px solid #d8d2cb;}
table.table-styling tr {border-bottom: 1px dotted #d8d2cb;}
table.table-styling tr:last-child {border-bottom: 1px solid #d8d2cb;}
table.table-styling th {padding:10px 18px;}
table.table-styling td:first-child {color:inherit;}
table.table-styling td {padding:13px 18px;line-height: 1.25;min-height: 22px;font-family: 'latobold';font-size: 14px;color: black;}
table.table-styling td a {color: black;}
table.table-styling td a:hover {color: #d4a216;}

.video-main-title .size {color:#6b7e16 !important;}
.video-title .size {color:#6b7e16 !important;}
.video-desc {font-size: 14px;line-height: 16px;}

@media (min-width: 768px) and (max-width: 991px) {
	.tb-language.english,
	.tb-language.indonesia,
	.tb-menu .icon,
	.tb-pencarian .icon,
	.tb-contact .icon {margin-top:20px;}
}

@media print {
	#detail .col-md-9.col-md-offset-2 {padding-top:30px !important;}
	img.img-responsive {max-width:200px !important;margin:0 auto;}
}

.logo-left {margin-right: 30px;}
.tb-layanan-informasi-publik { padding-right: 20px;position: relative; }
.tb-layanan-informasi-publik:after { width: 12px;height: 6px;content: '';position: absolute;background: url('images/arrow-layanan.png') no-repeat;top: 50%;right: 0;margin-top:-3px; }
.list-layanan { width: 230px;padding: 15px;margin-top: 34px;right: -15px; }
.list-layanan:before {right:13px;left:inherit;}
.list-type.list-layanan a:hover:before {background: transparent;}
ul.list-layanan li, ul.list-layanan li a {height:26px;}
ul.list-layanan li a {display:inline-block;}
ul.list-layanan li a .icon {margin-right:10px;}

.circular-image img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

/**************************************************************/
/****************** BLOG.CSS **********************************/
/**************************************************************/
.form-group { margin-bottom: 15px; }
.img-blog a { display: block;}
.img-blog a:hover img {opacity:0.8;}
.list-blog { border-bottom: 1px solid #eeeeed; padding-bottom: 14px; } 
.name-anggota {font-family:'latoblack';font-size:16px;color:#000000;margin-bottom:15px;}
.anggota {font-size:14px;color:#4c4c4c;line-height:24px;margin-bottom:20px;}
.anggota .bold {font-family: 'latobold';}
.btn {
  width: 100%;
  display: inline-block;
  height: 35px;
  padding: 12px;
  font-family: 'montserratregular';
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  color: #ffffff;
  border: 1px solid #d19b04;
  background-color: #d19b04;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition:all .5s;transition:all .5s;
  border-radius: 3px; 
}
.btn:hover { background: #b08203; border-color: #b08203; }
.minute { float: right; font-size: 11px; color: #7d726c; }
.btn130 { width: 130px; }
.border-blog { border-bottom: 1px solid #eeeeed; padding-bottom: 35px; margin-bottom: 35px; }
.btn-replies {border:none;background:transparent;padding:0;margin:0;color:#d09c2a;margin-bottom:15px;outline:0;position:relative;margin-right:15px;border-bottom:1px solid transparent;line-height:1.25;}
.btn-replies:hover {border-bottom:1px solid #b08203;color:#b08203;}
.btn-replies:after {content:'';position:absolute;background:url('images/icon-replies.png') no-repeat 10%;width:12px;height:12px;right:-20px;top:50%;margin-top:-6px;}
.btn-replies:hover:after {content:'';position:absolute;background:url('images/icon-replies-hover.png') no-repeat 10%;width:12px;height:12px;right:-20px;top:50%;margin-top:-6px;}
.btn-hidden { display: none; margin-bottom: 35px; }
.replay-show {display:none;margin-bottom: 20px;}
.border-none { padding-bottom: 0; border: none; }
.replay { color: #d09c2a; font-size: 14px; margin: 10px 0 15px 0; cursor: pointer; }
.btn-left { width: 155px; float: left; }
.btn-right { width: 100px; float: left; }
.thank { color: #6d7f00; }
.center-cancel { position: relative; height:35px; margin: auto 0; } 
.center-cancel .tbl { width: 100%; } 
.btn-showmore { margin-top: 20px; box-shadow: 0 0 2px 0 #ebebeb; width: 100%; border: 1px solid #ebebeb; background: #ffffff; font-size: 11px; color: #7d726c; font-family:'latoblack'; padding: 12px; transition:all .5s; }
.btn-showmore:hover { background: #f4f4f4; color: #d19b04; }
.blog-hide { display: none;}
@media (max-width: 767px) {
	.btn130, .btn-left { width: 100%; }
	.btn-right { width: 100%; text-align: center; }
}

.agenda-content-tab .list.agenda_detail .title-bold {font-family: 'latobold';font-size:14px;line-height:1.25;color:black;}
.agenda-content-tab .list.agenda_detail .title {line-height:1.25;}

.tamu-hover .bl-title:hover { color: black;}
.agenda-content-tab .list a:hover .title-bold {color:#d4a216;}
.agenda-content-tab .list a:hover .title {color:#4c4c4c;}

#blog .options {padding-bottom: 25px !important;border-bottom: 1px solid #e1e1e1;margin-bottom:25px;}
#blog .options:last-child {padding-bottom: 0 !important;border-bottom: none;margin-bottom:0;}

.success-alert {display:none;}
.btn-hidden {padding-left:26px;}
.btn-hidden .bl-title {border-color:#d19b04;font-size:13px;}
#detail.blog-comment .blog-img-responsive, .blog-img-responsive {display:block;max-width:200px !important;height:auto;margin:0 auto;}
.blog-buku-tamu .list-blog {border:none;padding: 0;margin: 0;margin-top: 10px;padding-left: 39px;}
.blog-buku-tamu .list-blog-reply .bl-title {border-color:#d19b04;font-size:13px;}