body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'roboto','segoe ui light';
}
@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
.main-nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
  transition: 0.3s all ease;
}
.navbar-fixed {
  width: 100%;
  height: 0px;
  position: absolute;
  background-color: #fff; 
  transition: 0.3s all ease;
}
.navbar-fixed .logo {
  transform: scale(0.35);
}
.banner {
  width: 100%;
  height: 600px;
  background-image: url(../img/islam.jpg);
x  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.logo {
  transform: scale(0.44);
  margin-left: -20%;
  margin-top: -4.7%;
}
.container ul {
  list-style: none;
  margin-top: -10%;
}
.container ul li {
  float: right;
  padding-right: 1.5%;
  padding-left: 1.5%;
}
.container ul li a {
  font-size: 20px;
  color: #3d4451;
  text-decoration: none;
  transition: 0.3s all ease;
}
.container ul li:hover a{
  color: #F89406;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.banner-main {
  font-size: 80px;
  font-family: 'raleway','segoe ui light';
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-top: 10%;
}
.banner-second {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: -4%;
}
.center {
  text-align: center;
}
.banner-btn {
  font-size: 20px;
  padding: 1% 1%;
  background-color: #F89406;
  border-radius: 2px;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'raleway','segoe ui light';
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.3s all ease;
}
.banner-btn:hover {
  background-color: #3d4451;
  color: #fff;
}
.banner-btn2 {
  font-size: 20px;
  padding: 0.9% 1%;
  background-color: transparent;
  border-radius: 2px;
  border:2px solid #fff;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'raleway','segoe ui light';
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.3s all ease;
}
.banner-btn2:hover {
  background-color: #3d4451;
  color: #fff;
  border: transparent;
  padding: 1% 1%;
}
.title-divider {
  width: 200px;
  height: 4px;
  background-color: #f89406;
  margin-bottom: 1%;
}
.section-title {
  font-size: 50px;
  font-family: 'raleway','segoe ui light';
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #3d4451;
  text-transform: uppercase;
}
.section-article {
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  margin-top: -2%;
  color: #3d4451;
}
.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}
.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hoverable:hover .prinsip-img {
  transform: scale(0.8);
}
.hoverable:hover .prinsip-title {
  letter-spacing: 2px;
  margin-top: 3%;
}
.prinsip{
  padding-top: 1%;
  padding-bottom: 5%;
}
.prinsip-img {
  transition: 0.3s all ease;
}
.prinsip-title {
  font-size: 33px;
  text-align: center;
  color: #3d4451;
  font-weight: bold;
  font-family: 'raleway','segoe ui light';
  transition: 0.3s all ease;
}
.prinsip-article {
  font-size: 20px;
  text-align: center;
  color: #3d4451;
  font-weight: 300;
  margin-right: 6%;
  margin-left: 6%;
}
.jalan {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes muncul {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes muncul {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.muncul {
  -webkit-animation-name: muncul;
  animation-name: muncul;
}

@-webkit-keyframes munculBawah {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes munculBawah {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.munculBawah {
  -webkit-animation-name: munculBawah;
  animation-name: munculBawah;
}
.info-square {
  width: 100%;
  height:250px;
  background-color: #3d4451;
}
.info-title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-family: 'raleway','segoe ui light';
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20%;
  transition: 0.3s all ease;
}
.info-article {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  transition: 0.3s all ease;
}
.info-square:hover .info-title{
  margin-top: 15%;
  font-size: 20px;
}
.info-square:hover .info-article {
  font-size: 22px;
}
.kegiatan {
  padding-top: 5%;
  padding-bottom: 5%;
}
.kegiatan-img1{
  width: 93%;
  height: 230px;
  background-image: url(../img/dprw.jpg);
  background-size: cover;
  border-radius: 2px;
}
.kegiatan-img2{
  width: 93%;
  height: 230px;
  background-image: url(../img/rz1221.jpg);
  background-size: cover;
  border-radius: 2px;
}
.kegiatan-img3{
  width: 93%;
  height: 230px;
  background-image: url(../img/gedung_dpr_miring.jpg);
  background-size: cover;
  border-radius: 2px;
}
.kegiatan-title {
  font-size: 24px;
  font-family: 'raleway','segoe ui light';
  font-weight: bold;
  text-align: left;
  color: #3d4451;
}
.kegiatan-detail {
  font-size: 17px;
  color: #3d4451;
  font-weight: 300;
  color: #3d4451;
  margin-top: -3%;
}
.kegiatan-article {
  font-size: 20px;
  color: #3d4451;
  font-weight: 300;
  color: #3d4451;
  margin-left: 1%;
  margin-right: 2%;
}
.orange {
  color: #f89406;
  //font-weight: normal;
}
.kegiatan-btn {
  background-color: #f89406;
  color: #fff;
  font-size: 20px;
  padding: 2% 2.5%;
  border:transparent;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 1%;
  transition: 0.3s all ease;
}
.kegiatan-btn:hover {
  background-color: #3d4451;
  color: #fff;
}
.main-footer {
  width: 100%;
  padding: 1% 1%;
  background-color: #3d4451;
}
.footer-copyright {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
.anggota-banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/islam.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.aspirasi-banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/Gedung-DPR..jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: 10s slide infinite;
}
.aspirasi-title {
  font-size: 30px;
  font-weight: bold;
  color: #3d4451;
  //font-family: 'raleway','segoe ui light';
  //text-align: center;
}
.aspirasi-article {
  font-size: 20px;
  font-weight: 300;
  color: #3d4451;
  //text-align: center;
}
.aspirasi-location {
  font-size: 20px;
  font-weight: 300;
  color: #3d4451;
  padding: 2% 2%;
  border-bottom: 1px solid #F89406;
}
.aspirasi-input {
  width: 50%;
  height: 55px;
  background-color: #fff;
  outline: none;
  font-family: 'roboto','segoe ui light';
  font-weight: 300;
  color: #3d4451;
  font-size: 20px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #f89406;
  margin-left: 4%;
  transition: 0.3s all ease;
}
.aspirasi-input:focus {
  padding-left: 2%;
}
.aspirasi-textarea {
  width: 50%;
  height: 174px;
  background-color: #fff;
  outline: none;
  font-family: 'roboto','segoe ui light';
  font-weight: 300;
  color: #3d4451;
  font-size: 20px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-left: 4%;
  border-bottom: 2px solid #f89406;
  transition: 0.3s all ease;
  margin-top: 2%;
}
@keyframes slide {
  25% {
    background-image: url(../img/resize_PELANTIKAN-ANGGOTA-DPR-DAN-DPD028.jpg);
  }
  50% {
    background-image: url(../img/Gedung-DPR..jpg)
  }
  100% {
    background-image: url(../img/resize_PELANTIKAN-ANGGOTA-DPR-DAN-DPD0282.jpg);
  }
}
.aspirasi-textarea:focus {
  padding-left: 2%;
}
.secondary-main {
  font-size: 60px;
  font-family: 'raleway','segoe ui light';
  color: #fff;
  margin-top: 11%;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
.secondary-second {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: -2%; 
}
.anggota-grid {
  padding-bottom: 5%;
}
.dpr-circle1 {
  width: 100%;
  height: 400px;
  background-image: url(../img/1346.jpg);
  background-size: cover;
  border-radius: 350px;
  transform: scale(0.75);
  transition: 0.3s all ease;
}
.dpr-circle2 {
  width: 100%;
  height: 400px;
  background-image: url(../img/1399.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle3 {
  width: 100%;
  height: 400px;
  background-image: url(../img/102.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle4 {
  width: 100%;
  height: 400px;
  background-image: url(../img/8.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle5 {
  width: 100%;
  height: 400px;
  background-image: url(../img/105.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle6 {
  width: 100%;
  height: 400px;
  background-image: url(../img/1329.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle7 {
  width: 100%;
  height: 400px;
  background-image: url(../img/258.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle8 {
  width: 100%;
  height: 400px;
  background-image: url(../img/892.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.dpr-circle9 {
  width: 100%;
  height: 400px;
  background-image: url(../img/392.jpg);
  background-size: cover;
  border-radius: 400px;
  transform: scale(0.75);
}
.hoverable:hover .dpr-name {
  font-size: 27px;
}
.dpr-name {
  font-size: 30px;
  font-family: 'raleway','segoe ui light';
  text-align: center;
  color: #3d4451;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -1%;
  transition: 0.3s all ease;
}
.partai {
  font-size: 23px;
  text-align: center;
  color: #3d4451;
  font-weight: 300;
  margin-top: -3%;
}
.komisi {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  color: #3d4451;
  margin-top: -3%;
}